body {
    background-color: white;
  }
  
  #gameCanvas {
    border: 1px solid black;
    display: block;
    margin: auto;
  }
  
  #startButton {
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  #pauseButton {
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    margin: auto;
    margin-top: 10px;
  }
  
  #startButton:hover {
    background-color: darkgray;
  }
  